{% include "header.html" %}
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">Care Through PetPal</h1>

                            <h4 class="text-center">Care & Adoption</h4>
                        </div>

                    </div>
                </div>
            </section>


            {% comment %} <section class="featured-section">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block bg-white shadow-lg">
                                <a href="#section_2">
                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2">Tousif Nirob</h5>

                                            <p class="mb-0">Hey, I am Nirob. I'm available to take care of your Cat or Dog. </p>
                                        </div>

                                        <span class="badge bg-design rounded-pill ms-auto">1</span>
                                    </div>

                                    <img src="/static/images/topics/rabbit3.png" class="custom-block-image img-fluid" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="custom-block custom-block-overlay">
                                <div class="d-flex flex-column h-100">
                                    <img src="/static/images/petdoctor.png" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h4 class="text-white mb-2">Doctor Apointment Booking</h4>

                                            <p class="text-white">Hello Pet lovers! Here is our platform PetPal gives you online Veterinary Doctor Booking service. Now you can book Doctors appointment online</p>

                                            <a href="#section_3" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                        </div>

                                        <span class="badge bg-finance rounded-pill ms-auto">1</span>
                                    </div>

                                    <div class="social-share d-flex">
                                        <p class="text-white me-4">Contact:</p>

                                        <ul class="social-icon">
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-twitter"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-facebook"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-pinterest"></a>
                                            </li>
                                        </ul>

                                        <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                    </div>

                                    <div class="section-overlay"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section> {% endcomment %}


            <section class="explore-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        {% comment %} <div class="col-12 text-center">
                            <h2 class="mb-4">Services</h2>
                        </div> {% endcomment %}

                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Adoption</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Care-Giver</button>
                            </li>

                            {% comment %} <li class="nav-item" role="presentation">
                                <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Doctors</button>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                    <div class="row">

                                        {% for pet in pets %}
                                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'petdetails' pet.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">
                                                                {{pet.name}}
                                                            </h5>
                                                            
                                                            <p class="text-muted">📍{{ pet.location }}</p>

                                                            <p class="mb-0">{{ pet.description }}</p>
                                                        </div>
                                                    </div>

                                                    <img src="{{pet.photo.url}}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

<!--                            Care-Givers Profile-->
                                <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                                    <div class="row">

                                        {% for caregiver in caregivers %}
                                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="cgdetails.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">
                                                                {{caregiver.full_name}}
                                                            </h5>
                                                            <p class="text-muted">📍{{caregiver.location}}</p>

                                                            <p class="mb-0">{{caregiver.bio}}</p>
                                                        </div>
                                                    </div>

                                                    <img src="{{caregiver.photo.url}}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}

                                        </div>
                                  </div>

                                {% comment %} <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Dr. Shamim Osman</h5>

                                                            <p class="mb-0">Hello Pet lovers! I'm Dr.Shamim Osman. Here I am your veterinary Consultant. I'm available here to give you any kind of emergency consultation online.</p>
                                                        </div>

                                                        <span class="badge bg-finance rounded-pill ms-auto">1</span>
                                                    </div>

                                                    <img src="/static/images/topics/doctor.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                    </div>
                </div>
            </section>


            <section class="timeline-section section-padding" id="section_3">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">How does it work?</h1>
                        </div>

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class="text-white mb-3">Search what you need</h4>

                                        <p class="text-white">In the search option you can search whatever you want. You can search pets type,care-giver or your favorite consultant.</p>

                                        <div class="icon-holder">
                                          <i class="bi-search"></i>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <h4 class="text-white mb-3">Add Pets & Care-Giver in Dashboard</h4>

                                        <p class="text-white">In the dashboard you will find two option.Click any option then from up the details then submit. Your work will be created.</p>

                                        <div class="icon-holder">
                                          <i class="bi-bookmark"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class="text-white mb-3">Hire your Care-Giver</h4>

                                        <p class="text-white">To hire a care-giver you have to match your location first. Then choose any care-giver near you.</p>

                                        <div class="icon-holder">
                                          <i class="bi-book"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 text-center mt-5">
                            <p class="text-white">
                                Want to learn more?
                                <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Frequently Asked Questions</h2>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-5 col-12">
                            <img src="/static/images/topics/dog2.png" class="img-fluid" alt="FAQs">
                        </div>

                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How can I Hire a Care-Giver?
                                        </button>
                                    </h2>

                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>There is a option in services.</strong> click on that and hire your Care-giver. Please contact TemplateMo for more detail. Thank you.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How to find a topic?
                                    </button>
                                    </h2>

                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can search on Google with <strong>keywords</strong> such as templatemo portfolio, templatemo one-page layouts, photography, digital marketing, etc.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Does it need to paid?
                                    </button>
                                    </h2>

                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>

{% include "footer.html" %}
